@value Violet: hsl(257, 40%, 49%);
@value Soft-Magenta: hsl(300, 69%, 71%);

.container {
  display: flex;
  width: 80%;
  height: 100%;
  padding-block-start: 32px;
  padding-block-end: 40px;
  flex-direction: column;
}

.logo {
  display: block;
  width: 128px;
  height: 32px;
  background-image: url('/huddle_introduction/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.illust {
  align-self: center;
  display: flex;
  width: 300px;
  height: 215px;
  margin-block-start: 60px;
  margin-block-end: 60px;
}

.texts {
  align-self: center;
  display: flex;
  width: 300px;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-block-end: 10px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: calc(2.3rem * 1.6);
  color: white;
}

.subtitle {
  margin-block-end: 25px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(1.5rem * 1.6);
  color: white;
}

.btn {
  width: 200px;
  height: 40px;
  margin-block-end: 65px;
  border-style: none;
  border-radius: 30px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.185);
  font-size: 1.2rem;
  font-weight: 400;
  color: Violet;
  cursor: pointer;
  transition: background-color 200ms linear;
}

.btn:hover {
  background-color: Soft-Magenta;
  color: white;
  transition: background-color 200ms linear;
}

.social {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 1300px) {
  .container {
    display: grid;
    width: 100%;
    height: 100%;
    padding-block-start: 53px;
    padding-block-end: 40px;
    padding-inline-start: 75px;
    grid-template-rows: 60px 1fr 40px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    overflow-x: hidden;
  }

  .logo {
    grid-area: 1/1/2/3;
    width: 210px;
    height: 60px;
  }

  .illust {
    grid-area: 2/1/3/2;
    align-self: center;
    display: flex;
    width: 698px;
    height: 496px;
    margin-block-start: 75px;
    margin-block-end: 60px;
  }

  .texts {
    grid-area: 2/2/3/3;
    width: 512px;
    height: 400px;
    align-items: flex-start;
  }

  .title {
    margin-block-end: 20px;
    text-align: left;
    font-size: 4rem;
    font-weight: 600;
    line-height: calc(3.9rem * 1.6);
  }

  .subtitle {
    margin-block-end: 25px;
    text-align: left;
    font-size: 1.8rem;
    line-height: calc(1.7rem * 1.6);
  }

  .btn {
    height: 56px;
    margin-block-end: 0px;
    font-size: 1.8rem;
  }

  .social {
    grid-area: 3/2/4/3;
    place-self: end;
    display: flex;
    width: 240px;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

}