@value Light-grayish-blue: hsl(240, 5%, 91%);

.container {
  display: flex;
  width: 330px;
  height: 535px;
  padding-block-start: 130px;
  padding-block-end: 50px;
  border-radius: 20px;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: 'Kumbh Sans', sans-serif;
  box-shadow: 0px 30px 30px rgba(54, 34, 56, 0.37);
}

.illustration {
  width: 240px;
  height: 214px;
  position: absolute;
  top: -107px;
  background-image: url('/faq_accordion/illustation.svg');
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding-block-end: 20px;
  font-size: 3.2rem;
  font-weight: 700;
}

.list {
  display: flex;
  height: 330px;
  list-style: none;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.list__li {
  display: flex;
  width: 100%;
  height: auto;
  padding-block-start: 15px;
  padding-block-end: 5px;
  justify-content: center;
  align-items: center;
  border-block-end: 1px solid Light-grayish-blue;
}

@media screen and (min-width: 925px) {
  .container {
    display: grid;
    width: 922px;
    height: 510px;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .info {
    display: flex;
    padding-block-start: 70px;
    padding-block-end: 62px;
    align-items: flex-start;
  }
  .title {
    padding-block-end: 25px;
  }

  .illustration {
    display: none;
  }

  .illus_desk {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .illustration_desktop {
    display: block;
    width: 650px;
    height: 650px;
    position: absolute;
    top: -22%;
    left: -55%;
    background-image: url('/faq_accordion/illust2.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
  }

  .illustration_box {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    top: 210px;
    left: -95px;
    background-image: url('/faq_accordion/illustration-box-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}